<!-- Contact section -->
<div id="contact" class="fullscreen hero">
    <div class="content-center">
        <h1>Let's talk.<br><a href="mailto:hello@cbg.design">hello@cbg.design</a></h1>
        <p>I’m always interested in hearing about new projects, so if you’d like to chat please get in touch. If you’d like to see more examples of my work, all you need to do is ask.</p>
        <a href="https://www.behance.net/charliebobgordon" title="Follow me on Behance" id="behance" class="social">Behance</a>
        <a href="https://www.youtube.com/user/CBGFilms" title="Watch my films on YouTube" id="youtube" class="social">YouTube</a>
        <a href="https://www.linkedin.com/in/charliegordon" title="Add me on Linkedin" id="linkedin" class="social">Linkedin</a>
        <a href="https://www.instagram.com/charliebobgordon/" title="Follow @charliebobgordon on Instagram" id="instagram" class="social">Instagram</a>
        <a href="https://twitter.com/cbg" title="Follow @cbg on Twitter" id="twitter" class="social">Twitter</a>
    </div>
</div>