---
layout: default
name: id="project"
---
    <!-- Header -->
    <header>
        <a href="/" id="logo">Charlie Bob Gordon</a>
        <label for="show-menu" class="show-menu">Menu</label>
        <input type="checkbox" id="show-menu" role="button">
        <nav>
            <ul>
                <li><a href="http://cbg.design/#projects">Projects</a></li>
                <li><a href="http://cbg.design/#about">About</a></li>
                <li><a href="http://cbg.design/#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div id="project-content">

        <!-- Project hero image -->
        <div class="video-background fullscreen">
            <div class="video-foreground">
                <iframe src="https://www.youtube.com/embed/{{ post.embedcode }}?controls=0&showinfo=0&rel=0&autoplay=1&disablekb=1&enablejsapi=1&loop=1&iv_load_policy=3&playlist={{ post.embedcode }}" allowfullscreen volume="0"></iframe>
            </div>
        </div>             

        <!-- Project title -->
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>

        <!-- Project content -->
        {{ content }}
        
    </div>

    <div id="projects">
        
        <!-- More projects grid -->
        <h1>More projects</h1>
        
        {% for post in site.categories.projects %}
            {% if post.url == page.url %}
                {% assign post_index0 = forloop.index0 %}
                {% assign post_index1 = forloop.index %}
            {% endif %}
        {% endfor %}

        {% for post in site.categories.projects %}
            {% if post_index0 == forloop.index %}
                {% assign next_post_url = post.url %}
                {% assign next_post_title = post.title %}
                {% assign next_post_thumbnail = post.thumbnail %}
            {% endif %}
            {% if post_index1 == forloop.index0 %}
                {% assign prev_post_url = post.url %}
                {% assign prev_post_title = post.title %}
                {% assign prev_post_thumbnail = post.thumbnail %}
            {% endif %}
        {% endfor %}
     
        <ul>

            <li>

                <!-- Show the previous post -->
                {% if prev_post_url %}

                <a href="{{ prev_post_url }}">
                    <figure>
                        <img src="{{ prev_post_thumbnail }}">
                        <figcaption><p>{{ prev_post_title }}</p></figcaption>
                    </figure>
                </a>

                {% else %}

                <!-- If there is no previous post, show the oldest post -->
                {% for post in site.categories.projects limit:1 %}

                <a href="{{ post.url }}">
                    <figure>
                        <img src="{{ post.thumbnail }}">
                        <figcaption><p>{{ post.title }}</p></figcaption>
                    </figure>
                </a>

                {% endfor %}
                {% endif %}

            </li>

            <li>

                <!-- Show the next post -->
                {% if next_post_url %}

                <a href="{{ next_post_url }}">
                    <figure>
                        <img src="{{ next_post_thumbnail }}">
                        <figcaption><p>{{ next_post_title }}</p></figcaption>
                    </figure>
                </a>

                {% else %}

                <!-- If there is no next post, sort the posts and show the latest post -->
                {% assign sorted = (site.categories.projects | sort: 'date') %}
                {% for post in sorted limit:1 %}

                <a href="{{ post.url }}">
                    <figure>
                        <img src="{{ post.thumbnail }}">
                        <figcaption><p>{{ post.title }}</p></figcaption>
                    </figure>
                </a>

                {% endfor %}
                {% endif %}

            </li>

        </ul>

    </div>